/*.settings-menu{*/
    /*margin-top: -20px !important;*/
/*}*/
.ui-btn-icon-right{
    float: right;
}
.ui-footer{
    padding-bottom: 15px;
}
.ui-controlgroup-controls {
    width: 100% !important;
}
button[type="submit"]{
    width: 100% !important;
}